Flask
git+https://github.com/adw0rd/instagrapi.git@main # Direct latest code from main branch
pymongo
gunicorn
Pillow>=8.1.1
requests==2.32.3
PySocks==1.7.1
pydantic==2.11.5
pydantic-core==2.33.2
pycryptodomex==3.23.0
setuptools>=65.5.1